### Hotel Review Classifier (working title)

*Flatiron School Data Science Bootcamp*

Captsone Project - NLP Sentiment/Ratings Analysis

Anna D'Angela | [annaadangela@gmail.com](annaadangela@gmail.com)

[Return to GitHub](https://github.com/anna-dang/mod05-capstone)

In [2]:
%load_ext autoreload
%autoreload 2

In [1]:
import requests
from re import compile, split
from bs4 import BeautifulSoup
from selenium import webdriver
from time import sleep
import collection_functions as cf
import pandas as pd

Note: Starting with Detroit hotels to make small sample dataset to play around with/test before gather more

In [4]:
# list of hotel homepages url on trip advisor (page one) with how many total reviews
westin_book = '/Hotel_Review-g42139-d782678-Reviews-The_Westin_Book_Cadillac_Detroit-Detroit_Michigan.html'
siren = '/Hotel_Review-g42139-d13417189-Reviews-The_Siren_Hotel-Detroit_Michigan.html'
foundation = '/Hotel_Review-g42139-d12130393-Reviews-Detroit_Foundation_Hotel-Detroit_Michigan.html'
motorcity = '/Hotel_Review-g42139-d674740-Reviews-MotorCity_Casino_Hotel-Detroit_Michigan.html'
aloft = '/Hotel_Review-g42139-d7263062-Reviews-Aloft_Detroit_at_The_David_Whitney-Detroit_Michigan.html'

Testing differen page size requests to test what Trip Advisor will allow. There are 5 reviews per page. Select *n* number pages to scrape. I confirmed how many reviews per property to make sure not over pulling.

In [7]:
# 50 pages = 250 reviews
siren_df = cf.scrape_hotel(siren, n=50) # 610

CPU times: user 3 µs, sys: 1e+03 ns, total: 4 µs
Wall time: 5.96 µs

In [9]:
siren_df.head()

,Location,Hotel,Title,Review,Rating
0,"Detroit, MI",The Siren Hotel,Absolute stunner in best location,I have stayed at the siren multiple times - I ...,5
1,"Detroit, MI",The Siren Hotel,Wonderful,Had a great time at The Siren Hotel. The lobby...,5
2,"Detroit, MI",The Siren Hotel,Beautiful hotel,The Siren hotel is located in the heart of dow...,5
3,"Detroit, MI",The Siren Hotel,"5 stars, Best Detroit hotel!","Had a great time at The Siren, a building I re...",5
4,"Detroit, MI",The Siren Hotel,Amazing,"Great hotel,Danny at the front desk was amazin...",5

In [12]:
# 75 pages = 375 reviews
aloft_df = cf.scrape_hotel(aloft, n=75) # 687

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 36.7 µs

In [15]:
aloft_df.head()

,Location,Hotel,Title,Review,Rating
0,"Detroit, MI",Aloft Detroit at The David Whitney,Amazingly Brenda,Brenda is definitely an Asset to this hotel. S...,5
1,"Detroit, MI",Aloft Detroit at The David Whitney,Christmas vacation,the team that works at the hotel are incredibl...,5
2,"Detroit, MI",Aloft Detroit at The David Whitney,Historic & Beautiful,I stayed only one night but it was memorable. ...,5
3,"Detroit, MI",Aloft Detroit at The David Whitney,"Great stay, very accommodating staff",I stayed at the Aloft for four nights over the...,5
4,"Detroit, MI",Aloft Detroit at The David Whitney,Fun Work Trip,I visited the Aloft in Detroit for 5 days for ...,5

In [16]:
# 100 pages = 500 reviews
foundation_df = cf.scrape_hotel(foundation, n=100) # 806
foundation_df.head()

CPU times: user 5 µs, sys: 1e+03 ns, total: 6 µs
Wall time: 10 µs

,Location,Hotel,Title,Review,Rating
0,"Detroit, MI",Detroit Foundation Hotel,Fantastic vacation in our own city,"We stayed here for one night--New Year's Eve, ...",5
1,"Detroit, MI",Detroit Foundation Hotel,Staycation,Absolutely stunning place to stay between the ...,5
2,"Detroit, MI",Detroit Foundation Hotel,A true getaway.,This was a wonderful place for a romantic geta...,5
3,"Detroit, MI",Detroit Foundation Hotel,First Class Detroit,DFH provided an excellent destination and expe...,5
4,"Detroit, MI",Detroit Foundation Hotel,Very fancy!,"Everything was very good, except for the pillo...",5

In [17]:
# 125 pages = 625 reviews
motorcity_df = cf.scrape_hotel(motorcity, n=125) # 1018 
motorcity_df.head()

,Location,Hotel,Title,Review,Rating
0,"Detroit, MI",MotorCity Casino Hotel,Worst first experience in Detroit,When we arrived the uber driver dropped us off...,1
1,"Detroit, MI",MotorCity Casino Hotel,Nice Surprise,We ended up here b/c we got a great rate for a...,4
2,"Detroit, MI",MotorCity Casino Hotel,Mixed Reviews,Me and my husband went to the MotorCity Casino...,4
3,"Detroit, MI",MotorCity Casino Hotel,Mattress,Please tell me what king size mattress they ha...,5
4,"Detroit, MI",MotorCity Casino Hotel,Just ok place to stay,We spent a few days in Detroit and saw the rev...,3

In [18]:
# 150 pages = 750 reviews
westin_book_df = cf.scrape_hotel(westin_book, n=150) # 1590
westin_book_df.head()

,Location,Hotel,Title,Review,Rating
0,"Detroit, MI",The Westin Book Cadillac Detroit,Front desk service was fantastic,My partner Eric and I come to Detroit for busi...,5
1,"Detroit, MI",The Westin Book Cadillac Detroit,Terrible customer service. Answer your darn ph...,"If you want your anniversary, birthday, confer...",1
2,"Detroit, MI",The Westin Book Cadillac Detroit,Worked for our needs!,Was heading to Western Michigan and needed a h...,4
3,"Detroit, MI",The Westin Book Cadillac Detroit,These people are heartless and do not care abo...,I had to cancel my trip for a legitimate medic...,1
4,"Detroit, MI",The Westin Book Cadillac Detroit,Solid hotel close to Campus Martius,My family of 4 stayed here at Christmas for 4 ...,5

In [19]:
# combine all dfs
df_list = [siren_df, aloft_df, foundation_df, motorcity_df, westin_book_df]
test_df = pd.concat(df_list)
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2500 entries, 0 to 749
Data columns (total 5 columns):
Location    2500 non-null object
Hotel       2500 non-null object
Title       2500 non-null object
Review      2500 non-null object
Rating      2500 non-null object
dtypes: object(5)
memory usage: 117.2+ KB

In [22]:
# save
test_df.to_csv("./data/test_data.csv", index=False)

In [23]:
# check
check_df = pd.read_csv("./data/test_data.csv")
check_df.head()

,Location,Hotel,Title,Review,Rating
0,"Detroit, MI",The Siren Hotel,Absolute stunner in best location,I have stayed at the siren multiple times - I ...,5
1,"Detroit, MI",The Siren Hotel,Wonderful,Had a great time at The Siren Hotel. The lobby...,5
2,"Detroit, MI",The Siren Hotel,Beautiful hotel,The Siren hotel is located in the heart of dow...,5
3,"Detroit, MI",The Siren Hotel,"5 stars, Best Detroit hotel!","Had a great time at The Siren, a building I re...",5
4,"Detroit, MI",The Siren Hotel,Amazing,"Great hotel,Danny at the front desk was amazin...",5

In [ ]:
# looks good!